@font-face {
  font-family: 'opensans';
  src: url(../font/OpenSans-Regular.ttf); }

@font-face {
  font-family: 'proximaBlack';
  src: url(../font/ProximaNova-Black.ttf); }

@font-face {
  font-family: 'proximaRegular';
  src: url(../font/ProximaNova-Regular.ttf); }

@font-face {
  font-family: 'ProximaNovaThin';
  src: url(../font/ProximaNovaThin.ttf]); }

body {
  font-family: 'proximaRegular' !important; }

.slider-txt {
  background-color: red; }

.transport-slider {
  position: relative; }
  .transport-slider .slick-prev {
    left: 5% !important;
    z-index: 9 !important;
    width: 43px;
    height: 55px; }
    .transport-slider .slick-prev::before {
      position: absolute;
      box-sizing: border-box;
      height: 30px;
      width: 30px;
      border-style: solid;
      border-color: #fe213b;
      border-width: 0px 2px 2px 0px;
      transform: rotate(130deg);
      left: 1rem;
      top: 0.8rem; }
    .transport-slider .slick-prev:hover {
      background-color: #fe213b; }
      .transport-slider .slick-prev:hover::before {
        border-color: #fff; }
  .transport-slider .slick-next {
    right: 5% !important;
    z-index: 9 !important;
    width: 43px;
    height: 55px;
    background-color: #fff; }
    .transport-slider .slick-next::before {
      position: absolute;
      box-sizing: border-box;
      height: 30px;
      width: 30px;
      border-style: solid;
      border-color: #fe213b;
      border-width: 0px 2px 2px 0px;
      transform: rotate(-42deg);
      right: 1rem;
      top: 0.8rem; }
    .transport-slider .slick-next:hover {
      background-color: #fe213b; }
      .transport-slider .slick-next:hover::before {
        border-color: #fff; }

.gallery-slider {
  position: relative; }
  .gallery-slider .slick-prev {
    left: 68% !important;
    top: 85%;
    z-index: 9 !important;
    width: 40px;
    height: 40px;
    background-color: #fff; }
    .gallery-slider .slick-prev::before {
      position: absolute;
      box-sizing: border-box;
      height: 16px;
      width: 16px;
      border-style: solid;
      border-color: #fe213b;
      border-width: 0px 2px 2px 0px;
      transform: rotate(130deg);
      left: 1rem;
      bottom: 0.8rem; }
    .gallery-slider .slick-prev:hover {
      background-color: #fe213b; }
      .gallery-slider .slick-prev:hover::before {
        border-color: #fff; }
  .gallery-slider .slick-next {
    top: 85%;
    right: 5% !important;
    z-index: 9 !important;
    width: 40px;
    height: 40px;
    background-color: #fff; }
    .gallery-slider .slick-next::before {
      position: absolute;
      box-sizing: border-box;
      height: 16px;
      width: 16px;
      border-style: solid;
      border-color: #fe213b;
      border-width: 0px 2px 2px 0px;
      transform: rotate(-42deg);
      right: 1rem;
      top: 0.8rem; }
    .gallery-slider .slick-next:hover {
      background-color: #fe213b; }
      .gallery-slider .slick-next:hover::before {
        border-color: #fff; }

@media screen and (max-width: 576px) {
  .transport-slider .slick-prev {
    top: 40%;
    width: 30px;
    height: 30px; }
    .transport-slider .slick-prev::before {
      left: 0.7rem;
      top: 0.5rem; }
  .transport-slider .slick-next {
    top: 40%;
    width: 30px;
    height: 30px; }
    .transport-slider .slick-next::before {
      right: 0.7rem;
      top: 0.5rem; } }

.company-slider img {
  min-width: 20% !important;
  max-width: 50% !important; }

.nav-panel-mobil {
  left: 0; }

.head-desc {
  height: auto; }
  .head-desc .header-desc .logo-desc img {
    height: 60px; }
  .head-desc .header-desc .top-header-desc {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .head-desc .header-desc .top-header-desc .nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .head-desc .header-desc .top-header-desc .nav .header-link {
        font-family: 'proxima';
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        color: #212327 !important; }
      .head-desc .header-desc .top-header-desc .nav .skills-desc .skills-desc-btn {
        font-family: 'proxima';
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        color: #FE213B !important; }
        .head-desc .header-desc .top-header-desc .nav .skills-desc .skills-desc-btn img {
          margin-left: 5px;
          margin-top: -2px; }
        .head-desc .header-desc .top-header-desc .nav .skills-desc .skills-desc-btn::after {
          display: none; }
        .head-desc .header-desc .top-header-desc .nav .skills-desc .skills-desc-btn:focus {
          box-shadow: none !important; }

@media screen and (max-width: 700px) {
  .top-header-desc {
    display: none !important; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .top-header-desc {
    display: none !important; } }

@media screen and (min-width: 1024px) and (max-width: 1350px) {
  .head-desc {
    height: 66px; }
    .head-desc .burger-menu-btn {
      top: 0.3rem; }
    .head-desc .header-desc .logo-desc img {
      height: 66px; } }

.search-page {
  padding-top: 3rem; }
  .search-page .search-title {
    display: flex;
    align-items: baseline;
    padding: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #fe213b; }
    .search-page .search-title h1 {
      margin: 0; }
    .search-page .search-title h2 {
      margin-bottom: 0;
      margin-left: 15px;
      color: #fe213b; }
  .search-page .search-info {
    padding-top: 20px;
    margin-bottom: 50px; }
    .search-page .search-info .search-info-title {
      color: #fe213b !important;
      font-size: 20px; }
      .search-page .search-info .search-info-title i {
        margin-right: 15px; }
    .search-page .search-info p {
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      margin: 0; }
    .search-page .search-info .read-continue {
      color: #fe213b !important; }
    .search-page .search-info h1 {
      font-size: 16px;
      font-weight: bold;
      margin-top: 2rem; }
    .search-page .search-info h3 {
      font-size: 16px;
      font-weight: bold; }

.services {
  padding: 30px 0;
  border-bottom: 1px solid #ededed; }
  .services .services-images .services-button button {
    background-color: #fe213b;
    width: 307px;
    height: 53px;
    border: none;
    font-size: 18px;
    font-family: "proxima";
    color: white;
    font-weight: bold;
    line-height: 1.333;
    margin-top: 40px; }
  .services .service-content {
    margin-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed; }
    .services .service-content h1 {
      font-size: 30px;
      font-family: "proxima";
      color: #212121;
      font-weight: bold;
      line-height: 1.167;
      text-align: left; }
    .services .service-content h3 {
      font-size: 17px;
      font-family: "proxima";
      color: gray;
      font-weight: bold;
      line-height: 1.389;
      text-align: left;
      margin: 20px 0; }
    .services .service-content p {
      font-size: 15px;
      font-family: "proxima";
      color: #212121;
      font-weight: bold;
      line-height: 1.667;
      margin: 0.5rem 0; }
    .services .service-content li {
      font-size: 15px;
      font-family: "proxima";
      color: #212121;
      line-height: 1.667;
      position: relative; }
      .services .service-content li::before {
        content: "";
        width: 5px;
        height: 5px;
        background-color: #fe213b;
        position: absolute;
        left: 0;
        border-radius: 50%;
        top: 10px; }
  .services .service-info {
    padding-top: 30px;
    margin-left: 20px;
    height: 120px;
    overflow: hidden;
    position: relative; }
    .services .service-info p {
      font-size: 15px;
      font-family: "proxima";
      color: #212121;
      line-height: 1.667;
      text-align: left;
      margin-bottom: 0.5rem; }
    .services .service-info::after {
      content: "";
      width: 100%;
      height: 60px;
      opacity: 0.5;
      position: absolute;
      bottom: 0;
      background-color: #fff;
      box-shadow: inset 0px -70px 68px 0px white; }
  .services .read-overflow {
    margin-left: 20px;
    margin-top: 1rem;
    color: #000; }
    .services .read-overflow a {
      color: #000; }
      .services .read-overflow a img {
        margin-left: 5px; }

.services-bottom {
  border: none !important;
  margin-bottom: 70px; }

.service-info-active {
  height: auto !important;
  overflow: auto !important;
  transition: all 5s ease; }

@media screen and (max-width: 576px) {
  .services {
    padding: 20px 0; }
    .services .services-images .services-button {
      display: flex;
      justify-content: center; }
      .services .services-images .services-button button {
        margin-top: 25px;
        margin-bottom: 25px; }
  .services-bottom {
    margin-bottom: 30px; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .services {
    padding: 20px 0; }
    .services .services-images .services-button button {
      margin-top: 25px;
      margin-bottom: 25px; }
    .services .service-content {
      margin-left: 0; }
    .services .read-overflow {
      margin: 0; }
    .services .service-info {
      margin-left: 0; }
  .services-bottom {
    margin-bottom: 20px; } }

.about-title h1 {
  font-size: 30px;
  font-family: "proxima";
  color: #2e2e2e;
  font-weight: bold;
  line-height: 0.933;
  margin-bottom: 30px; }

.about-page {
  margin: 60px 0; }
  .about-page .about-content {
    border: 5px solid #eff4f8;
    background-color: white;
    padding-left: 30px; }
    .about-page .about-content .about-image {
      margin-top: -2rem; }
    .about-page .about-content .about-text {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center; }
      .about-page .about-content .about-text p {
        font-size: 15px;
        font-family: "proximaRegular";
        color: #212121;
        margin: 0;
        line-height: 1.667;
        text-align: left; }
      .about-page .about-content .about-text::before {
        content: '';
        border: solid #eff4f8;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        position: absolute;
        top: -16px;
        left: 1rem;
        background-color: #ffffff; }

.about-video .video-inner {
  margin-bottom: 70px; }
  .about-video .video-inner .video-content {
    margin-bottom: 70px; }
    .about-video .video-inner .video-content p {
      font-size: 16px;
      font-family: "proxima";
      color: #2e2e2e;
      line-height: 1.75;
      margin-bottom: 30px; }
    .about-video .video-inner .video-content button {
      font-size: 16px;
      font-family: "proxima";
      color: white;
      font-weight: bold;
      line-height: 3.125;
      text-align: center;
      border: none;
      width: 295px;
      height: 50px; }

.about-video .partners-info {
  padding: 70px 40px;
  margin-bottom: 80px;
  position: relative;
  border-width: 10px;
  border-color: #fe213b;
  border-style: solid;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3); }
  .about-video .partners-info::before {
    content: '';
    position: absolute;
    top: -1.5rem;
    width: 80px;
    height: 40px;
    background-image: url(../images/quotes.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: #ffffff; }
  .about-video .partners-info .partners-info-title {
    display: flex;
    align-items: baseline; }
    .about-video .partners-info .partners-info-title h1 {
      margin-right: 25px;
      font-size: 30px;
      font-family: "proxima";
      color: #2e2e2e;
      font-weight: bold;
      line-height: 0.933; }
  .about-video .partners-info p {
    font-size: 16px;
    font-family: "proxima";
    color: #2e2e2e;
    line-height: 1.75; }

.about-us {
  background-image: url(../images/bg-about.png);
  background-size: cover;
  padding: 45px 0 55px 0; }
  .about-us h1 {
    font-size: 32px;
    font-family: "proxima";
    color: white;
    font-weight: bold;
    line-height: 1.406; }
  .about-us .advantages-top {
    margin-top: 30px; }
  .about-us .advantages {
    display: flex;
    margin-bottom: 20px; }
    .about-us .advantages .advantages-image {
      margin-right: 34px; }
    .about-us .advantages .advantages-text h1 {
      font-size: 18px;
      font-family: "proxima";
      color: white;
      font-weight: bold;
      line-height: 1.389; }
    .about-us .advantages .advantages-text p {
      font-size: 15px;
      font-family: "proxima";
      color: white;
      line-height: 1.667; }
  .about-us .advantages-btn button {
    background-color: #fe213b;
    width: 295px;
    height: 50px;
    border: none;
    font-size: 16px;
    font-family: "proxima";
    color: white;
    font-weight: bold;
    line-height: 3.125; }

.about-company {
  padding: 90px 0 50px 0; }
  .about-company .about-company-text {
    position: relative; }
    .about-company .about-company-text img {
      position: absolute;
      bottom: -39px;
      z-index: 999;
      right: -32px;
      width: 30%; }
    .about-company .about-company-text h1 {
      font-size: 32px;
      font-family: "proxima";
      color: #263238;
      font-weight: bold;
      line-height: 1.406;
      text-align: left; }
    .about-company .about-company-text p {
      font-size: 20px;
      font-family: "proxima";
      color: #212121;
      line-height: 1.5;
      text-align: left;
      padding-right: 35px; }
  .about-company .about-company-slider {
    background-color: #eff4f8;
    padding: 30px 30px 66px 30px;
    border-bottom-right-radius: 30px;
    position: relative; }
    .about-company .about-company-slider::after {
      content: '';
      background-image: url(../images/img_manandgirl.png);
      position: absolute;
      top: -270px;
      width: 340px;
      height: 270px; }
    .about-company .about-company-slider::before {
      content: '';
      border-top: 20px solid #cad6df;
      border-right: 20px solid transparent;
      position: absolute;
      bottom: 0;
      right: 0;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 4px; }
    .about-company .about-company-slider .stl-slide-btn {
      width: 100%;
      display: flex;
      justify-content: center; }
      .about-company .about-company-slider .stl-slide-btn button {
        background-color: #fe213b;
        width: 295px;
        height: 50px;
        border: none;
        font-size: 16px;
        font-family: "proxima";
        color: white;
        font-weight: bold;
        line-height: 3.125;
        margin-top: 10px; }
    .about-company .about-company-slider .company-slider {
      position: relative; }
      .about-company .about-company-slider .company-slider .slick-prev {
        background: #ffffff;
        top: 10%;
        left: 78%;
        width: 37px;
        height: 37px;
        z-index: 99999; }
        .about-company .about-company-slider .company-slider .slick-prev::before {
          content: '';
          position: absolute;
          top: 9px;
          left: 12px;
          width: 18px;
          height: 18px;
          border-style: solid;
          border-color: #fe213b;
          border-width: 0px 3px 3px 0px;
          transform: rotate(136deg); }
        .about-company .about-company-slider .company-slider .slick-prev:hover {
          background-color: #fe213b; }
          .about-company .about-company-slider .company-slider .slick-prev:hover::before {
            border-color: #ffffff !important; }
      .about-company .about-company-slider .company-slider .slick-next {
        position: absolute;
        background: #ffffff;
        top: 10%;
        left: 90%;
        width: 37px;
        height: 37px;
        z-index: 99999; }
        .about-company .about-company-slider .company-slider .slick-next::before {
          content: '';
          position: absolute;
          top: 9px;
          right: 12px;
          width: 18px;
          height: 18px;
          border-style: solid;
          border-color: #fe213b;
          border-width: 0px 3px 3px 0px;
          transform: rotate(-45deg); }
        .about-company .about-company-slider .company-slider .slick-next:hover {
          background-color: #fe213b; }
          .about-company .about-company-slider .company-slider .slick-next:hover::before {
            border-color: #ffffff !important; }
      .about-company .about-company-slider .company-slider .stl-slide .stl-slide-content {
        display: flex;
        align-items: center; }
        .about-company .about-company-slider .company-slider .stl-slide .stl-slide-content .stl-slide-text {
          margin-left: 18px; }
          .about-company .about-company-slider .company-slider .stl-slide .stl-slide-content .stl-slide-text h1 {
            font-size: 18px;
            font-family: "proxima";
            color: #212121;
            font-weight: bold;
            line-height: 1.667;
            margin: 0; }
          .about-company .about-company-slider .company-slider .stl-slide .stl-slide-content .stl-slide-text p {
            font-size: 15px;
            font-family: "proxima";
            color: #212121;
            line-height: 2;
            text-align: left;
            margin: 0; }
      .about-company .about-company-slider .company-slider .stl-slide p {
        font-size: 16px;
        font-family: "proxima";
        color: #212121;
        line-height: 1.563;
        text-align: left;
        margin-top: 12px; }

.clientsDiv {
  background-image: url(../images/bg.png);
  padding: 78px 0; }
  .clientsDiv .clients-company {
    margin-top: 50px;
    height: 370px; }
    .clientsDiv .clients-company .slick-list {
      height: 100%; }
      .clientsDiv .clients-company .slick-list .clients-img {
        height: 160px;
        background-color: #fff;
        border: .5px solid #eeeeee;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; }
        .clientsDiv .clients-company .slick-list .clients-img img {
          width: 60%;
          margin: 0 auto; }
        .clientsDiv .clients-company .slick-list .clients-img::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
        .clientsDiv .clients-company .slick-list .clients-img:hover::after {
          box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
          z-index: 99; }

.certificates {
  margin: 70px 0;
  background-image: url(../images/bg-certificate.png);
  background-repeat: no-repeat;
  background-position-x: 68%; }
  .certificates .certificates-slider .slick-prev {
    position: absolute;
    top: -22%;
    left: 90%;
    width: 37px;
    height: 37px;
    z-index: 99;
    border: 2px solid #eff4f8; }
    .certificates .certificates-slider .slick-prev::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 12px;
      width: 15px;
      height: 15px;
      border-style: solid;
      border-color: #fe213b;
      border-width: 0px 3px 3px 0px;
      transform: rotate(136deg); }
    .certificates .certificates-slider .slick-prev:hover {
      border: none;
      background-color: #fe213b; }
      .certificates .certificates-slider .slick-prev:hover::before {
        border-color: #ffffff !important; }
  .certificates .certificates-slider .slick-next {
    position: absolute;
    background: #ffffff;
    top: -22%;
    right: 2%;
    width: 37px;
    height: 37px;
    z-index: 99;
    border: 2px solid #eff4f8; }
    .certificates .certificates-slider .slick-next::before {
      content: '';
      position: absolute;
      top: 10px;
      right: 12px;
      width: 15px;
      height: 15px;
      border-style: solid;
      border-color: #fe213b;
      border-width: 0px 3px 3px 0px;
      transform: rotate(-45deg); }
    .certificates .certificates-slider .slick-next:hover {
      border: none;
      background-color: #fe213b; }
      .certificates .certificates-slider .slick-next:hover::before {
        border-color: #ffffff !important; }
  .certificates .certificates-slider .certificate {
    display: flex;
    justify-content: center; }
    .certificates .certificates-slider .certificate img {
      width: 100%; }

@media screen and (max-width: 576px) {
  .clientsDiv {
    padding: 30px 0 !important; }
  .certificates-slider {
    top: 2rem; }
  .about-page {
    margin: 30px 0; }
    .about-page .about-content {
      padding: 0 1rem !important; }
      .about-page .about-content .about-image {
        margin-top: 0;
        display: flex;
        justify-content: flex-end; }
      .about-page .about-content .about-text::before {
        padding: 8px;
        top: -14px;
        left: 1rem; }
  .about-title {
    margin-bottom: 40px; }
    .about-title h1 {
      text-align: center;
      margin-bottom: 0; }
  .about-video .video-inner {
    margin-top: 30px;
    margin-bottom: 50px; }
    .about-video .video-inner iframe {
      width: 100%; }
    .about-video .video-inner .video-content {
      margin-bottom: 30px; }
      .about-video .video-inner .video-content p {
        font-size: 16px;
        font-family: "proxima";
        color: #2e2e2e;
        line-height: 1.75;
        margin-bottom: 30px; }
      .about-video .video-inner .video-content button {
        font-size: 16px;
        font-family: "proxima";
        color: white;
        font-weight: bold;
        line-height: 3.125;
        text-align: center;
        background-color: #fe213b;
        border: none;
        width: 295px;
        height: 50px; }
  .about-video .partners-info {
    padding: 20px;
    margin-bottom: 80px;
    position: relative;
    border-width: 10px;
    border-color: #fe213b;
    border-style: solid;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3); }
    .about-video .partners-info::before {
      content: '';
      position: absolute;
      top: -1.5rem;
      width: 80px;
      height: 40px;
      background-image: url(../images/quotes.png);
      background-position-x: center;
      background-repeat: no-repeat;
      background-color: #ffffff; }
    .about-video .partners-info .partners-info-title {
      display: block;
      align-items: baseline; }
      .about-video .partners-info .partners-info-title h1 {
        margin-right: 25px;
        font-size: 30px;
        font-family: "proxima";
        color: #2e2e2e;
        font-weight: bold;
        line-height: 0.933; }
    .about-video .partners-info p {
      font-size: 16px;
      font-family: "proxima";
      color: #2e2e2e;
      line-height: 1.75; }
  .about-company {
    padding: 20px 0; }
    .about-company .about-company-text {
      position: relative;
      padding-bottom: 120px; }
      .about-company .about-company-text img {
        display: none; }
      .about-company .about-company-text h1 {
        font-size: 32px;
        font-family: "proxima";
        color: #263238;
        font-weight: bold;
        line-height: 1.406;
        text-align: left; }
      .about-company .about-company-text p {
        font-size: 20px;
        font-family: "proxima";
        color: #212121;
        line-height: 1.5;
        text-align: left;
        padding-right: 35px; }
    .about-company .about-company-slider {
      background-color: #eff4f8;
      padding: 30px 30px 66px 30px;
      border-bottom-right-radius: 30px;
      position: relative; }
      .about-company .about-company-slider::after {
        content: '';
        top: -270px;
        right: 0;
        background-size: 54%;
        background-repeat: no-repeat;
        background-position-x: 82%;
        background-position-y: bottom; }
      .about-company .about-company-slider::before {
        content: '';
        border-top: 20px solid #cad6df;
        border-right: 20px solid transparent;
        position: absolute;
        bottom: 0;
        right: 0;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 4px; }
      .about-company .about-company-slider .stl-slide-btn {
        width: 100%;
        display: flex;
        justify-content: center; }
        .about-company .about-company-slider .stl-slide-btn button {
          background-color: #fe213b;
          width: 295px;
          height: 50px;
          border: none;
          font-size: 16px;
          font-family: "proxima";
          color: white;
          font-weight: bold;
          line-height: 3.125;
          margin-top: 10px; }
      .about-company .about-company-slider .company-slider {
        position: relative; }
        .about-company .about-company-slider .company-slider .slick-prev {
          background: #ffffff;
          top: 10%;
          left: 78%;
          width: 37px;
          height: 37px;
          z-index: 99999; }
          .about-company .about-company-slider .company-slider .slick-prev::before {
            content: '';
            position: absolute;
            top: 9px;
            left: 12px;
            width: 18px;
            height: 18px;
            border-style: solid;
            border-color: #fe213b;
            border-width: 0px 3px 3px 0px;
            transform: rotate(136deg); }
          .about-company .about-company-slider .company-slider .slick-prev:hover {
            background-color: #fe213b; }
            .about-company .about-company-slider .company-slider .slick-prev:hover::before {
              border-color: #ffffff !important; }
        .about-company .about-company-slider .company-slider .slick-next {
          position: absolute;
          background: #ffffff;
          top: 10%;
          left: 90%;
          width: 37px;
          height: 37px;
          z-index: 99999; }
          .about-company .about-company-slider .company-slider .slick-next::before {
            content: '';
            position: absolute;
            top: 9px;
            right: 12px;
            width: 18px;
            height: 18px;
            border-style: solid;
            border-color: #fe213b;
            border-width: 0px 3px 3px 0px;
            transform: rotate(-45deg); }
          .about-company .about-company-slider .company-slider .slick-next:hover {
            background-color: #fe213b; }
            .about-company .about-company-slider .company-slider .slick-next:hover::before {
              border-color: #ffffff !important; }
        .about-company .about-company-slider .company-slider .stl-slide .stl-slide-content {
          display: block;
          align-items: center; }
          .about-company .about-company-slider .company-slider .stl-slide .stl-slide-content .stl-slide-text {
            margin-left: 18px; }
            .about-company .about-company-slider .company-slider .stl-slide .stl-slide-content .stl-slide-text h1 {
              font-size: 18px;
              font-family: "proxima";
              color: #212121;
              font-weight: bold;
              line-height: 1.667;
              margin: 0; }
            .about-company .about-company-slider .company-slider .stl-slide .stl-slide-content .stl-slide-text p {
              font-size: 15px;
              font-family: "proxima";
              color: #212121;
              line-height: 2;
              text-align: left;
              margin: 0; }
        .about-company .about-company-slider .company-slider .stl-slide p {
          font-size: 16px;
          font-family: "proxima";
          color: #212121;
          line-height: 1.563;
          text-align: left;
          margin-top: 12px; }
        .about-company .about-company-slider .company-slider .slick-slide img {
          min-width: 20%;
          max-width: 50%;
          margin: 0 auto 2rem auto; }
  .certificates {
    margin: 70px 0;
    background-image: url(../images/bg-certificate.png);
    background-repeat: no-repeat;
    background-position-x: 68%; }
    .certificates .certificates-slider .slick-prev {
      position: absolute;
      top: -20px;
      left: 77%;
      background-color: #ffffff; }
    .certificates .certificates-slider .slick-next {
      top: -20px;
      right: 1%; }
    .certificates .certificates-slider .certificate {
      display: flex;
      justify-content: center; }
      .certificates .certificates-slider .certificate img {
        width: 100%; }
  .clientsDiv .clients-company .clients-img img {
    width: 100%;
    height: auto; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-page {
    margin: 25px 0; }
    .about-page .about-content .about-image {
      margin-top: -2rem; }
      .about-page .about-content .about-image img {
        width: 100%; }
  .about-video .video-inner {
    margin-bottom: 20px; }
    .about-video .video-inner iframe {
      width: 100%; }
    .about-video .video-inner .video-content {
      margin-bottom: 20px; }
  .about-video .partners-info {
    padding: 70px 40px;
    margin-bottom: 80px;
    position: relative;
    border-width: 10px;
    border-color: #fe213b;
    border-style: solid;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3); }
    .about-video .partners-info::before {
      content: '';
      position: absolute;
      top: -1.5rem;
      width: 80px;
      height: 40px;
      background-image: url(../images/quotes.png);
      background-position-x: center;
      background-repeat: no-repeat;
      background-color: #ffffff; }
    .about-video .partners-info .partners-info-title {
      display: flex;
      align-items: baseline; }
      .about-video .partners-info .partners-info-title h1 {
        margin-right: 25px;
        font-size: 30px;
        font-family: "proxima";
        color: #2e2e2e;
        font-weight: bold;
        line-height: 0.933; }
    .about-video .partners-info p {
      font-size: 16px;
      font-family: "proxima";
      color: #2e2e2e;
      line-height: 1.75; }
  .about-company {
    padding: 20px 0; }
    .about-company .about-company-text {
      position: relative;
      padding-bottom: 120px; }
      .about-company .about-company-text img {
        display: none; }
      .about-company .about-company-text h1 {
        font-size: 32px;
        font-family: "proxima";
        color: #263238;
        font-weight: bold;
        line-height: 1.406;
        text-align: left; }
      .about-company .about-company-text p {
        font-size: 20px;
        font-family: "proxima";
        color: #212121;
        line-height: 1.5;
        text-align: left;
        padding-right: 35px; }
    .about-company .about-company-slider {
      background-color: #eff4f8;
      padding: 30px 30px 66px 30px;
      border-bottom-right-radius: 30px;
      position: relative; }
      .about-company .about-company-slider::after {
        content: '';
        top: -46.5%;
        width: 100%;
        right: 0;
        background-size: 64%;
        background-repeat: no-repeat;
        background-position-x: 83%; }
      .about-company .about-company-slider::before {
        content: '';
        border-top: 20px solid #cad6df;
        border-right: 20px solid transparent;
        position: absolute;
        bottom: 0;
        right: 0;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 4px; }
      .about-company .about-company-slider .stl-slide-btn {
        width: 100%;
        display: flex;
        justify-content: center; }
        .about-company .about-company-slider .stl-slide-btn button {
          background-color: #fe213b;
          width: 295px;
          height: 50px;
          border: none;
          font-size: 16px;
          font-family: "proxima";
          color: white;
          font-weight: bold;
          line-height: 3.125;
          margin-top: 10px; }
          .about-company .about-company-slider .stl-slide-btn button:hover {
            color: #fe213b; }
      .about-company .about-company-slider .company-slider {
        position: relative; }
        .about-company .about-company-slider .company-slider .slick-prev {
          background: #ffffff;
          top: 10%;
          left: 78%;
          width: 37px;
          height: 37px;
          z-index: 99999; }
          .about-company .about-company-slider .company-slider .slick-prev::before {
            content: '';
            position: absolute;
            top: 9px;
            left: 12px;
            width: 18px;
            height: 18px;
            border-style: solid;
            border-color: #fe213b;
            border-width: 0px 3px 3px 0px;
            transform: rotate(136deg); }
          .about-company .about-company-slider .company-slider .slick-prev:hover {
            background-color: #fe213b; }
            .about-company .about-company-slider .company-slider .slick-prev:hover::before {
              border-color: #ffffff !important; }
        .about-company .about-company-slider .company-slider .slick-next {
          position: absolute;
          background: #ffffff;
          top: 10%;
          left: 90%;
          width: 37px;
          height: 37px;
          z-index: 99999; }
          .about-company .about-company-slider .company-slider .slick-next::before {
            content: '';
            position: absolute;
            top: 9px;
            right: 12px;
            width: 18px;
            height: 18px;
            border-style: solid;
            border-color: #fe213b;
            border-width: 0px 3px 3px 0px;
            transform: rotate(-45deg); }
          .about-company .about-company-slider .company-slider .slick-next:hover {
            background-color: #fe213b; }
            .about-company .about-company-slider .company-slider .slick-next:hover::before {
              border-color: #ffffff !important; }
  .certificates {
    margin: 50px 0;
    background-image: url(../images/bg-certificate.png);
    background-repeat: no-repeat;
    background-position-x: 68%; }
    .certificates .certificates-slider .slick-prev {
      top: -22%;
      left: 87.5%; }
    .certificates .certificates-slider .certificate {
      display: flex;
      justify-content: center;
      height: 312px; }
      .certificates .certificates-slider .certificate img {
        width: 100%; } }

.close:focus {
  outline: none; }

.modal-footer button {
  border-radius: inherit !important;
  background-color: #fe213b !important; }
  .modal-footer button:hover {
    background-color: #fff !important;
    color: #fe213b !important;
    border: 1px solid #fe213b !important; }

.swal2-confirm {
  background-color: #fe213b !important; }

.contact-page {
  position: relative;
  margin-top: 40px;
  margin-bottom: 70px; }
  .contact-page .contact-image {
    position: absolute;
    right: 8%;
    top: -20%; }
    .contact-page .contact-image img {
      width: 360px; }
  .contact-page .maps-modal {
    position: absolute;
    top: 10%;
    left: 10%;
    padding-top: 45px;
    width: 400px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 7px 67.16px 5.84px rgba(224, 229, 233, 0.39); }
    .contact-page .maps-modal h1 {
      font-size: 36px;
      font-family: 'proximaBlack';
      color: #0a1018;
      line-height: 1.2;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px; }
    .contact-page .maps-modal .maps-modal-link {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 30px; }
      .contact-page .maps-modal .maps-modal-link .email-p {
        margin-top: 0.5rem; }
      .contact-page .maps-modal .maps-modal-link p {
        width: 215px;
        margin-left: 20px;
        margin-bottom: 0 !important;
        font-size: 15px;
        color: #2e2e2e;
        line-height: 1.667; }
      .contact-page .maps-modal .maps-modal-link .contact-info {
        display: flex;
        flex-direction: column; }
        .contact-page .maps-modal .maps-modal-link .contact-info span {
          margin-left: 20px;
          display: flex;
          align-items: center;
          font-size: 15px;
          color: #2e2e2e;
          line-height: 1.667;
          font-family: 'proximaBlack'; }
          .contact-page .maps-modal .maps-modal-link .contact-info span img {
            margin-left: 5px; }
      .contact-page .maps-modal .maps-modal-link button {
        background-color: #fe213b;
        width: 319px;
        height: 63px;
        border: none;
        font-size: 18px;
        font-family: "proxima";
        color: white;
        font-weight: bold;
        line-height: 1.333; }

.company-branches {
  margin-bottom: 80px;
  position: relative; }
  .company-branches .contact-border {
    border-bottom: 1px solid #cccccc; }
  .company-branches .branch-inner .br-content {
    padding: 0 20px; }
  .company-branches .branch-inner .branch-links {
    display: flex;
    height: 268px;
    margin-top: 30px; }
    .company-branches .branch-inner .branch-links .branch-image {
      margin-right: 20px; }
    .company-branches .branch-inner .branch-links .branch-content h2 {
      font-size: 16px;
      font-family: "proxima";
      color: #fe213b;
      font-weight: bold;
      line-height: 1.875; }
    .company-branches .branch-inner .branch-links .branch-content p {
      font-size: 16px;
      color: #263238;
      line-height: 1.875;
      margin-bottom: 0 !important; }

.branch-item {
  position: relative; }
  .branch-item::before {
    content: '';
    width: 1px;
    height: 80%;
    position: absolute;
    right: 0;
    top: 3%;
    background-color: #cccccc; }

@media screen and (max-width: 576px) {
  .maps {
    height: 250px !important; }
  .close {
    width: fit-content !important; }
  .contact-page .contact-image {
    position: absolute;
    top: -4%;
    display: flex;
    justify-content: flex-end; }
    .contact-page .contact-image img {
      width: 40%;
      height: 100%; }
  .contact-page .maps-modal {
    position: relative;
    top: 0;
    left: 0;
    padding-top: 45px;
    width: 100%; }
    .contact-page .maps-modal h1 {
      font-size: 26px; }
    .contact-page .maps-modal .maps-modal-link button {
      width: 80%; }
  .company-branches {
    margin-bottom: 40px; }
    .company-branches::before {
      display: none; }
    .company-branches h1 {
      font-size: 30px;
      text-align: center; }
    .company-branches .branch-inner {
      border: none; }
      .company-branches .branch-inner .branch-bottom {
        padding-top: 40px;
        position: relative; }
        .company-branches .branch-inner .branch-bottom::before {
          content: '';
          width: 1px;
          height: 80%;
          position: absolute;
          right: 0;
          top: 15%;
          background-color: #cccccc; }
      .company-branches .branch-inner .br-content {
        padding: 0 !important; }
      .company-branches .branch-inner .branch-links {
        display: flex;
        height: 268px;
        margin: 30px 3rem; }
        .company-branches .branch-inner .branch-links .branch-image {
          margin-right: 20px; }
        .company-branches .branch-inner .branch-links .branch-content h2 {
          font-size: 16px;
          font-family: "proxima";
          color: #fe213b;
          font-weight: bold;
          line-height: 1.875; }
        .company-branches .branch-inner .branch-links .branch-content p {
          font-size: 16px;
          color: #263238;
          line-height: 1.875;
          margin-bottom: 0 !important; }
  .branch-item {
    position: relative; }
    .branch-item::before {
      display: none; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact-page .contact-image {
    display: flex;
    justify-content: flex-end;
    top: -6%; }
    .contact-page .contact-image img {
      width: 40%; }
  .contact-page .maps-modal {
    position: relative;
    top: 0;
    left: 0;
    padding-top: 45px;
    margin: 2rem auto; }
    .contact-page .maps-modal h1 {
      font-size: 26px; }
    .contact-page .maps-modal .maps-modal-link button {
      width: 67%; }
  .company-branches {
    margin-bottom: 40px; }
    .company-branches::before {
      left: 8%;
      top: 52%;
      background-color: #cccccc; }
    .company-branches h1 {
      font-size: 30px;
      text-align: center; }
    .company-branches .branch-inner {
      border: none; }
      .company-branches .branch-inner .branch-bottom {
        padding-top: 40px;
        position: relative; }
        .company-branches .branch-inner .branch-bottom::before {
          content: '';
          width: 1px;
          height: 80%;
          position: absolute;
          right: 0;
          top: 15%;
          background-color: #cccccc; }
      .company-branches .branch-inner .br-content {
        padding: 0; }
      .company-branches .branch-inner .branch-links {
        display: flex;
        height: 268px; }
        .company-branches .branch-inner .branch-links .branch-image {
          margin-right: 20px; }
        .company-branches .branch-inner .branch-links .branch-content h2 {
          font-size: 16px;
          font-family: "proxima";
          color: #fe213b;
          font-weight: bold;
          line-height: 1.875; }
        .company-branches .branch-inner .branch-links .branch-content p {
          font-size: 16px;
          color: #263238;
          line-height: 1.875;
          margin-bottom: 0 !important; }
  .branch-item {
    position: relative; }
    .branch-item::before {
      display: none; } }

@media screen and (min-width: 1024px) and (max-width: 1350px) {
  .contact-page .maps-modal {
    position: absolute;
    top: 6%;
    left: 10%; }
  .company-branches::before {
    top: 52%;
    left: 6%; }
  .company-branches .branch-inner .br-content {
    padding: 0; }
  .company-branches .branch-inner .branch-links {
    display: flex;
    height: 268px;
    margin-top: 30px; }
    .company-branches .branch-inner .branch-links .branch-content h2 {
      font-size: 16px;
      font-family: "proxima";
      color: #fe213b;
      font-weight: bold;
      line-height: 1.875; }
    .company-branches .branch-inner .branch-links .branch-content p {
      font-size: 16px;
      color: #263238;
      line-height: 1.875;
      margin-bottom: 0 !important; }
  .branch-item {
    position: relative; }
    .branch-item::before {
      content: '';
      width: 1px;
      height: 80%;
      position: absolute;
      right: 0;
      top: 3%;
      background-color: #cccccc; } }

.gallery-content {
  margin: 40px 0 78px 0; }
  .gallery-content .gallery-slider {
    margin: 3px 2.5px; }
    .gallery-content .gallery-slider .slide-product {
      position: relative; }
      .gallery-content .gallery-slider .slide-product h1 {
        position: absolute;
        top: 2rem;
        left: 1rem;
        font-size: 24px;
        font-family: "proxima";
        color: white;
        font-weight: bold;
        line-height: 1.25;
        opacity: 0;
        transition: all .8s ease; }
      .gallery-content .gallery-slider .slide-product p {
        position: absolute;
        top: 6rem;
        left: 1rem;
        font-size: 15px;
        font-family: "proxima";
        color: white;
        line-height: 1.6;
        opacity: 0;
        transition: all .8s ease; }
      .gallery-content .gallery-slider .slide-product::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: -moz-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
        background: -webkit-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
        background: -ms-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
        opacity: 0; }
      .gallery-content .gallery-slider .slide-product:hover h1 {
        opacity: 1; }
      .gallery-content .gallery-slider .slide-product:hover p {
        opacity: 1; }
      .gallery-content .gallery-slider .slide-product:hover::before {
        opacity: 1;
        background-image: -moz-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%);
        background-image: -webkit-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%);
        background-image: -ms-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%); }
  .gallery-content .gallery-image img {
    width: 120%;
    margin-top: 2.5rem; }

@media screen and (max-width: 576px) {
  .gallery-content {
    margin: 20px 0 48px 0; }
    .gallery-content .gallery-slider {
      margin: 5px 10px; }
    .gallery-content .gallery-image img {
      width: 100%;
      margin-top: 2.5rem; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gallery-content {
    margin: 20px 0 48px 0; }
    .gallery-content .gallery-slider {
      margin: 5px 10px; }
    .gallery-content .gallery-image img {
      width: 100%;
      margin-top: 2.5rem; } }

@media screen and (min-width: 1024px) and (max-width: 1350px) {
  .gallery-content {
    margin: 20px 0 48px 0; }
    .gallery-content .gallery-image img {
      width: 100%;
      margin-top: 4.5rem; } }

.review-content {
  padding-bottom: 20px; }
  .review-content .review-card {
    padding: 40px 0;
    border-bottom: 1px solid #f0f0f0; }
    .review-content .review-card .review-txt .review-info {
      display: flex;
      align-items: baseline; }
      .review-content .review-card .review-txt .review-info h2 {
        font-size: 14px;
        font-family: "opensans";
        color: black;
        font-weight: bold;
        line-height: 1.2;
        margin-right: 15px; }
      .review-content .review-card .review-txt .review-info span {
        font-size: 14px;
        font-family: "opensans";
        color: #fe213b;
        line-height: 1.2; }
    .review-content .review-card .review-txt p {
      font-size: 14px;
      font-family: "opensans";
      color: #4a4a4a;
      line-height: 1.714; }
  .review-content .review-btn {
    margin: 45px 0; }
    .review-content .review-btn button {
      background-color: #fe213b;
      font-size: 18px;
      font-family: "proxima";
      color: white;
      font-weight: bold;
      line-height: 1.333;
      border: none;
      width: 235px;
      height: 55px; }
      .review-content .review-btn button:hover {
        background: #ffffff;
        border: 1px solid #fe213b;
        color: #fe213b; }
  .review-content .all-review {
    margin: 60px 0 80px 0;
    text-align: right;
    font-size: 15px;
    font-family: "Montserrat";
    color: #cad6df;
    font-weight: bold;
    line-height: 1.667; }
  .review-content .review-image img {
    max-width: 80%; }

@media screen and (max-width: 576px) {
  .review-image img {
    max-width: 60% !important; }
  .review-content .review-card {
    padding: 20px 0; }
    .review-content .review-card .review-image {
      display: flex;
      justify-content: center;
      margin-bottom: 20px; }
  .review-content .review-btn {
    margin: 25px 0; }
    .review-content .review-btn button {
      width: 200px;
      height: 50px; }
  .review-content .review-item {
    height: 130px;
    position: relative; }
    .review-content .review-item .portfolio-btn {
      position: absolute;
      top: 1rem; }
  .review-content .all-review {
    margin: 0; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .review-content .review-card {
    padding: 20px 0; }
    .review-content .review-card .review-image {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
  .review-content .review-btn {
    margin: 25px 0; }
    .review-content .review-btn button {
      width: 200px;
      height: 50px; }
  .review-content .review-item {
    height: 130px;
    position: relative; }
    .review-content .review-item .portfolio-btn {
      position: absolute;
      top: 1rem; }
  .review-content .all-review {
    margin: 0; } }

.title h1 {
  font-size: 48px;
  font-family: "proxima";
  color: #2e2e2e;
  font-weight: bold;
  line-height: 0.875; }

.slider-product .slider-base .slides img {
  width: 100%;
  height: 100%; }

.slider-product .slider-list {
  margin-top: -40px; }

.portfolio-content .portfolio-card {
  padding: 40px 0;
  border-bottom: 1px solid #ededed; }
  .portfolio-content .portfolio-card .portfolio-txt {
    padding-left: 20px; }
    .portfolio-content .portfolio-card .portfolio-txt h2 {
      font-size: 20px;
      font-family: "Montserrat";
      color: #212121;
      font-weight: bold;
      line-height: 1.75; }
    .portfolio-content .portfolio-card .portfolio-txt h3 {
      font-size: 16px;
      font-family: "Montserrat";
      color: #616161;
      font-weight: bold;
      line-height: 1.875;
      text-align: left; }
    .portfolio-content .portfolio-card .portfolio-txt p {
      font-size: 15px;
      font-family: "Montserrat";
      color: #212121;
      line-height: 1.667;
      text-align: left; }
    .portfolio-content .portfolio-card .portfolio-txt button {
      background-color: #fe213b;
      font-size: 18px;
      font-family: "proxima";
      color: white;
      font-weight: bold;
      line-height: 1.333;
      border: none;
      width: 235px;
      height: 50px; }
      .portfolio-content .portfolio-card .portfolio-txt button:hover {
        background: #FFFFFF;
        border: 1px solid #FE213B;
        color: #FE213B; }

.portfolio-btn {
  margin: 50px 0 80px 0; }
  .portfolio-btn .pages-inner {
    display: flex; }
    .portfolio-btn .pages-inner a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      background-color: #ffffff;
      height: 40px;
      width: 100px;
      font-size: 14px;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      color: #212121;
      font-weight: bold;
      line-height: 1.25;
      border: 2px solid #eff4f8;
      margin-right: 13px; }

.pages input[type="radio"] {
  display: none; }

.pages label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 40px;
  width: 50px;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #212121;
  font-weight: bold;
  line-height: 1.25;
  border: 2px solid #eff4f8;
  margin-right: 13px; }

.pages input[type="radio"]:checked + label {
  background-color: #fe213b;
  color: #fff;
  border: none; }

@media screen and (max-width: 576px) {
  .title h1 {
    font-size: 30px; }
  .slider-product .slider-base .slides img {
    width: 100%; }
  .slider-product .portfolio-content .portfolio-card {
    padding: 20px 0; }
    .slider-product .portfolio-content .portfolio-card .slider-list {
      margin-top: -40px; }
      .slider-product .portfolio-content .portfolio-card .slider-list .slider-links img {
        width: 100%; }
  .portfolio-btn {
    margin: 30px 0 50px 0; }
    .portfolio-btn .pages-inner {
      display: flex;
      justify-content: center; }
      .portfolio-btn .pages-inner a {
        width: 65px !important;
        height: 40px;
        width: 90px;
        font-size: 14px;
        margin-right: 10px; }
  .pages label {
    height: 40px;
    width: 30px;
    font-size: 13px;
    margin-right: 10px; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .title h1 {
    font-size: 40px; }
  .slider-product .slider-base .slides img {
    width: 100%; }
  .slider-product .slider-list {
    margin-top: -40px; }
    .slider-product .slider-list .slider-links img {
      width: 100%; }
  .portfolio-content .portfolio-card {
    padding: 20px 0; }
  .portfolio-btn {
    margin: 30px 0 50px 0; }
    .portfolio-btn .pages-inner {
      display: flex;
      justify-content: center; }
      .portfolio-btn .pages-inner a {
        height: 40px;
        width: 90px;
        font-size: 14px;
        margin-right: 10px; }
  .pages label {
    height: 40px;
    width: 30px;
    font-size: 13px;
    margin-right: 10px; } }

.service-page .transport-title h1 {
  font-size: 48px;
  font-family: "proxima";
  color: #2e2e2e;
  font-weight: bold !important;
  line-height: 0.875;
  text-align: left; }

.service-page .transport-slider {
  margin: 50px 0;
  width: 100%;
  height: auto; }
  .service-page .transport-slider .slick-list .slider {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .service-page .transport-slider .slick-list .slider img {
      width: 70%;
      height: 100%;
      position: relative; }
    .service-page .transport-slider .slick-list .slider .slider-txt {
      width: 70%;
      height: 68px;
      background-color: #fe213b;
      padding: 3px 23px; }
      .service-page .transport-slider .slick-list .slider .slider-txt p {
        font-family: "proxima";
        font-size: 15px;
        color: white;
        line-height: 1.867;
        margin: 0; }

.service-page .transport-content {
  background-color: #eff4f8;
  padding: 40px 60px 30px 30px;
  border-left: 5px solid #fe213b;
  margin-bottom: 20px; }
  .service-page .transport-content p {
    font-size: 15px;
    font-family: "proxima";
    color: #212121;
    line-height: 1.667; }

.service-page .line {
  display: none;
  width: 60px;
  height: 3px;
  background-color: #cad6df;
  margin-bottom: 20px; }

.service-page .benefit {
  margin-bottom: 50px; }
  .service-page .benefit h1 {
    font-size: 24px;
    font-family: "proxima";
    color: #263238;
    font-weight: bold;
    margin-bottom: 25px; }
  .service-page .benefit h3 {
    font-size: 15px;
    font-family: "proxima";
    color: #263238;
    font-weight: bold;
    line-height: 1.667;
    margin-bottom: 20px; }
  .service-page .benefit .benefit-card {
    display: flex;
    align-items: baseline; }
    .service-page .benefit .benefit-card h4 {
      font-size: 18px;
      font-family: "proxima";
      color: #1e1f2e;
      font-weight: bold;
      line-height: 1.389;
      margin-right: 14px; }
    .service-page .benefit .benefit-card p {
      margin-bottom: 0;
      font-size: 15px;
      font-family: "proxima";
      color: #263238;
      line-height: 2.4; }

.service-page .example {
  margin-bottom: 80px; }
  .service-page .example h1 {
    font-size: 24px;
    font-family: "proxima";
    color: #263238;
    font-weight: bold;
    line-height: 1.875;
    text-align: left;
    margin-bottom: 40px; }
  .service-page .example .transport-link {
    margin: 0 5px 5px 0; }
    .service-page .example .transport-link h2 {
      font-size: 24px;
      font-family: "proxima";
      color: white;
      font-weight: bold;
      line-height: 1.25;
      padding: 40px 35px 10px 35px; }
    .service-page .example .transport-link p {
      font-size: 15px;
      font-family: "proxima";
      color: white;
      line-height: 1.6;
      padding: 10px 35px;
      display: none; }
    .service-page .example .transport-link:hover p {
      display: block; }
  .service-page .example .example-card1 {
    background: url(../images/service1.png);
    height: 284px; }
    .service-page .example .example-card1::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: -moz-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      background: -webkit-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      background: -ms-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      opacity: 0; }
    .service-page .example .example-card1:hover::before {
      opacity: 1;
      background-image: -moz-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%);
      background-image: -webkit-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%);
      background-image: -ms-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%); }
  .service-page .example .example-card2 {
    background-image: url(../images/service2.png);
    height: 284px; }
    .service-page .example .example-card2::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: -moz-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      background: -webkit-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      background: -ms-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      opacity: 0; }
    .service-page .example .example-card2:hover::before {
      opacity: 1;
      background-image: -moz-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%);
      background-image: -webkit-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%);
      background-image: -ms-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%); }
  .service-page .example .example-card3 {
    background-image: url(../images/service3.png);
    height: 284px;
    position: relative; }
    .service-page .example .example-card3::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: -moz-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      background: -webkit-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      background: -ms-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      opacity: 0; }
    .service-page .example .example-card3:hover::before {
      opacity: 1;
      background-image: -moz-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%);
      background-image: -webkit-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%);
      background-image: -ms-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%); }
  .service-page .example .example-card4 {
    background-image: url(../images/service4.png);
    height: 284px; }
    .service-page .example .example-card4::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: -moz-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      background: -webkit-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      background: -ms-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      opacity: 0; }
    .service-page .example .example-card4:hover::before {
      opacity: 1;
      background-image: -moz-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%);
      background-image: -webkit-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%);
      background-image: -ms-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%); }
  .service-page .example .example-card5 {
    background-image: url(../images/service5.png);
    height: 284px; }
    .service-page .example .example-card5::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: -moz-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      background: -webkit-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      background: -ms-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, #212121 100%);
      opacity: 0; }
    .service-page .example .example-card5:hover::before {
      opacity: 1;
      background-image: -moz-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%);
      background-image: -webkit-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%);
      background-image: -ms-linear-gradient(90deg, rgba(31, 58, 91, 0) 0%, rgba(254, 33, 59, 0) 11%, rgba(254, 33, 59, 0) 12%, #fe213b 73%); }
  .service-page .example .example-transport img {
    width: 120%;
    margin-top: 30px; }

@media screen and (max-width: 576px) {
  .service-page .transport-title h1 {
    font-size: 26px; }
  .service-page .transport-slider {
    margin: 20px 0;
    height: auto !important; }
    .service-page .transport-slider .slick-next:hover {
      background-color: transparent; }
      .service-page .transport-slider .slick-next:hover::before {
        border-color: red !important; }
    .service-page .transport-slider .slick-prev:hover {
      background-color: transparent; }
      .service-page .transport-slider .slick-prev:hover::before {
        border-color: red !important; }
    .service-page .transport-slider .slider .slider-txt {
      position: relative;
      height: 80px; }
      .service-page .transport-slider .slider .slider-txt p {
        font-size: 13px;
        width: 100%;
        height: 100%;
        padding: 0 10px; }
  .service-page .benefit h1 {
    font-size: 22px; }
  .service-page .example h1 {
    font-size: 22px; }
  .service-page .example .transport-link {
    margin: 5px 10px; }
  .service-page .example .example-transport img {
    width: 100%; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .service-page .transport-slider {
    margin: 20px 0; }
    .service-page .transport-slider .slider .slider-txt {
      position: relative;
      height: 65px; }
      .service-page .transport-slider .slider .slider-txt p {
        font-size: 13px;
        width: 100%;
        height: 100%;
        padding: 5px 10px; }
  .service-page .example .example-transport img {
    width: 100%; } }

@media screen and (min-width: 1024px) and (max-width: 1350px) {
  .service-page .example .example-card1 {
    background-size: cover; }
  .service-page .example .example-card2 {
    background-size: cover; }
  .service-page .example .example-card3 {
    background-size: cover; }
  .service-page .example .example-card4 {
    background-size: cover; }
  .service-page .example .example-card5 {
    background-size: cover; } }

.crumb-top {
  padding: 10px 0; }
  .crumb-top .crumbs {
    background-color: #fff;
    padding: 0 !important; }
    .crumb-top .crumbs .link-active {
      text-decoration: underline; }
      .crumb-top .crumbs .link-active a {
        color: #fe213b !important; }
    .crumb-top .crumbs .breadcrumb-item {
      color: #2e2e2e;
      line-height: 1.75;
      font-size: 14px;
      font-family: "proxima"; }

.check-page .check-page-content .breadcrumb {
  padding: 0; }

.check-page .check-page-content .crumb-check .crumbs-check {
  background-color: #fff;
  padding-bottom: 35px; }
  .check-page .check-page-content .crumb-check .crumbs-check .breadcrumb-item {
    font-size: 48px;
    font-family: "proxima";
    color: #2e2e2e;
    font-weight: bold;
    line-height: 0.875;
    padding: 0; }
    .check-page .check-page-content .crumb-check .crumbs-check .breadcrumb-item::before {
      display: none; }
    .check-page .check-page-content .crumb-check .crumbs-check .breadcrumb-item a {
      font-size: 48px;
      font-family: "proxima";
      color: #2e2e2e;
      font-weight: bold;
      line-height: 0.875; }
    .check-page .check-page-content .crumb-check .crumbs-check .breadcrumb-item::before {
      color: #2e2e2e; }
  .check-page .check-page-content .crumb-check .crumbs-check .check-crumb {
    margin-left: 25px; }
  .check-page .check-page-content .crumb-check .crumbs-check .check-item a {
    position: relative; }
    .check-page .check-page-content .crumb-check .crumbs-check .check-item a::before {
      content: "/";
      padding-right: .5rem;
      display: block;
      color: #6c757d;
      width: 5px;
      height: 10px;
      position: absolute;
      right: -15px; }

.check-image {
  background-image: url(../images/bg-check.png);
  background-repeat: no-repeat;
  height: 670px;
  width: 100%; }

.check-txt {
  padding-bottom: 120px; }
  .check-txt h1 {
    padding: 70px 0 30px 0;
    font-size: 32px;
    font-family: "proxima";
    color: #263238;
    line-height: 1.406;
    text-align: left; }
  .check-txt h3 {
    font-size: 26px;
    font-family: "proxima";
    color: #212121;
    font-weight: bold;
    line-height: 1.077;
    text-align: left;
    padding-bottom: 30px; }
  .check-txt p {
    font-size: 15px;
    font-family: "proxima";
    color: #212121;
    line-height: 1.667;
    text-align: left; }

.check-link {
  padding-bottom: 40px; }
  .check-link .check-link-txt p {
    font-size: 15px;
    color: #212121;
    line-height: 1.667;
    text-align: left; }
  .check-link .check-link-txt h1 {
    font-size: 26px;
    font-family: "proxima";
    color: #212121;
    font-weight: bold;
    line-height: 1.731;
    text-align: left; }

@media screen and (max-width: 576px) {
  .crumb-top {
    padding: 1rem 0; }
    .crumb-top .crumbs {
      margin: 0; }
      .crumb-top .crumbs .breadcrumb-item {
        font-size: 13px; }
  .check-page .check-page-content .crumb-check .crumbs-check {
    padding-bottom: 0; }
    .check-page .check-page-content .crumb-check .crumbs-check .breadcrumb-item {
      font-size: 15px; }
      .check-page .check-page-content .crumb-check .crumbs-check .breadcrumb-item a {
        font-size: 15px; }
  .check-image {
    background-size: contain;
    height: 175px; }
  .check-txt {
    padding-bottom: 2rem; }
    .check-txt h1 {
      padding: 1rem 0;
      font-size: 20px; }
    .check-txt h3 {
      font-size: 18px; }
    .check-txt p {
      font-size: 14px; }
  .check-link {
    padding-bottom: 2rem; }
    .check-link .check-link-img img {
      width: 100% !important; }
    .check-link .check-link-txt p {
      font-size: 14px; }
    .check-link .check-link-txt h1 {
      font-size: 20px; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .check-page .check-page-content .crumb-check .crumbs-check {
    padding-bottom: 2rem; }
    .check-page .check-page-content .crumb-check .crumbs-check .breadcrumb-item.active {
      margin-left: 25px; }
    .check-page .check-page-content .crumb-check .crumbs-check .breadcrumb-item {
      font-size: 30px; }
      .check-page .check-page-content .crumb-check .crumbs-check .breadcrumb-item a {
        font-size: 30px; }
  .check-image {
    height: 356px;
    background-size: contain; }
  .check-txt {
    padding-bottom: 2rem; }
    .check-txt h1 {
      padding: 1rem 0;
      font-size: 29px; }
    .check-txt h3 {
      font-size: 21px; }
    .check-txt p {
      font-size: 18px; }
  .check-link {
    padding-bottom: 2rem; }
    .check-link .check-link-img img {
      width: 100% !important; } }

@media screen and (min-width: 1024px) and (max-width: 1350px) {
  .check-image {
    height: 475px;
    background-size: contain; } }
