.counter{
    margin: 100px auto;
}
.count-link {
    position: relative;
}
.count-img{
    position: absolute;
    top: 10px;
    left: 580px;
}
.count{

   height: 200px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.counter h1{
    width: 100%;
    height: 60px;
    text-align: center;
}
.counter-link{
   display: flex;
    justify-content: center;
}
.counter-link button{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    color: #FE213B;
    background: transparent;
    border: none;
    position: relative;
}
.counter-link button::before{
    content: "";
    background-image: url(../../images/Line\ 8.png);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
}
.counter-link button:focus{
    outline: none;
}

.forms input{
    font-weight: 600;
    width: 100%;
    height: 52px;
    background: #FFFFFF;
border: 1px solid #E9E9E9;
box-sizing: border-box;
border-radius: 3px;
padding: 0 1rem;
}

.button-service{
    width: 100%;
    height: 52px;
    background: linear-gradient(180deg, #FF3048 0%, #FA1C37 100%);
font-weight: bold;
font-size: 13px;
line-height: 160%;
color: #FFFFFF;
text-align-last: center;
position: relative;
-webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #FE213B;
border-radius: 3px!important;
outline: none;
}
.button-service option{
    color:#FE213B;
    padding: 0!important;
    width: 100%;
}

.top-form{
    display: flex;
    margin-bottom: 15px;
}
.input-focus{
    position: relative;  
    transition: all .5s ease;
}
.input-focus input:valid ~ label {
          top: -8px;
          font-size: 12px; }
.input-focus input:focus{
    outline-color: #FE213B;
}
.input-focus:focus-within label {
    color:#FE213B;
        top: -8px;
        font-size: 12px; }

.input-focus label{
    transition: all .5s ease;
        font-family:'proxima'!important;
    position: absolute;
    pointer-events: none;
    cursor: text;
    left: 10px;
    top: 10px;
    background: #fff;
    width:fit-content;
    color: #9AA0A4;
}
.dropdown-avia{
    position: absolute;
    top: 55px;
    left: 10px;
}
.bottom-form{
    display: flex;
    margin-bottom: 30px
}
.avia-btn{
    position: relative;
        font-family:'proxima'!important;
        display: flex;
      
}
.avia-image-1{
    top: 37%;
    left: 5%;
    position: absolute;
    z-index: 999999999;
}
.avia-image-2{
    width: 10px;
    height: 6px;
    top: 43%;
    right: 21%;
    position: absolute;
    z-index: 999999999;
}
.avia-btn button{
    width: 100%;
    outline: none!important;
}
.input-focus2{
    transition: all .5s ease;
    position: relative;
    transition: all .5s ease;
}
.input-focus2 input:valid ~ label {
          top: -8px;
          font-size: 12px; }
.input-focus2 input:focus{
    outline-color: #FE213B;
}
.input-focus2:focus-within label {
        color: #FE213B;
        top: -8px;
        font-size: 12px; }

.input-focus2 label{
    transition: all .5s ease;
        font-family:'proxima'!important;
position: absolute;
    pointer-events: none;
    cursor: text;
  left: 10px;
  top: 10px;
    background: #fff;
    width:fit-content;
    color: #9AA0A4;
}
.input-focus3{
    position: relative;
    transition: all .5s ease;
}
.input-focus3 input:valid ~ label {
          top: -8px;
          font-size: 12px; }
.input-focus3 input:focus{
    outline-color: #FE213B;
}
.input-focus3:focus-within label {
        color: #FE213B;
        top: -8px;
        font-size: 12px; }

.input-focus3 label{
    transition: all .5s ease;
        font-family:'proxima'!important;
position: absolute;
    pointer-events: none;
    cursor: text;
  left: 10px;
  top: 10px;
    background: #fff;
    width:fit-content;
    color: #9AA0A4;
}
.input-focus4{

    position: relative;
    transition: all .5s ease;
}
.input-focus4 input:valid ~ label {
          top: -8px;
          font-size: 12px; }
.input-focus4 input:focus{
    outline-color: #FE213B;
}
.input-focus4:focus-within label {
        color: #FE213B;
        top: -8px;
        font-size: 12px; }

.input-focus4 label{
    transition: all .5s ease;
    font-family:'proxima'!important;
position: absolute;
    pointer-events: none;
    cursor: text;
  left: 10px;
  top: 10px;
    background: #fff;
    width:fit-content;
    color: #9AA0A4;
}
.partners-slider .slick-track{
    display: flex !important;
    align-items: center;
}
@media screen and (max-width:700px){
    .partner-slide img{
        width: 60% !important;
        max-width: 70%;
        margin: 0 auto;
        height: auto !important;
    }
    .partners-slider .slick-next{
        display: none !important;
    }
    .partners-slider .slick-prev{
        display: none !important;
    }
    /* .slick-next{
        display: none !important;
    }
    .slick-prev{
        display: none !important;
    } */
    .header-content{
        width: 100% !important;
        left: 0;
        top: 40%;
    }
    .counter-link button::before{
        left: 0;
    }
    .counter{
        margin: 50px auto;
    }
    .top-form{
        flex-direction: column;
        margin: 0;
    }
    .bottom-form{
        flex-direction: column;
    }
    .count{
        height: 100%;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        
    }
    .input-focus,.input-focus2,.input-focus3,.input-focus4{
        width: auto;
        margin: 15px 0;
    }
    .count input, button{
        width: 100%;
    }
    .avia-btn{
        width: 100%;
        margin: 0 auto;
}
    label{
        text-align: center;
    }

   
    .counter h1{
    height: 75px;
        font-size: 26px;
        font-family:'proxima'!important;

    }
    .counter-item input,button{
        width: 100%;
    }
    .count-img{
    top: 10px;
    left: 35%;
}
    .counter-item button{
        width: 100%;
        margin: 20px;
    }
   
}
@media screen and (min-width:768px) and (max-width:1024px){
    .count{
        height: 100%;
        flex-direction: column;
        padding-left: 20px;
        
    }
    .top-form{
    flex-direction: column;
    }
    .bottom-form{
        flex-direction: column
    }
    .count input{
        width: 100%;
    }
    .count button{
        width: 100%;
    }
    .input-focus,.input-focus2,.input-focus3,.input-focus4{
        width: 100%;
      margin-bottom: 15px
    }
    .count-img{
        left: 38%
    }
    .form-button{
        width: 100%;
        display: flex;
    justify-content: center;
}
    
}
@media screen and (min-width:1024px) and (max-width: 1350px){
        .count{
        height: 100%;
        flex-direction: row;
        padding-left: 20px;
        
    }
    .input-focus,.input-focus2,.input-focus3,.input-focus4{
        width: 90%;
        margin: 15px ;
    }
    .form-button{
        width: 90%;
        margin: 0 auto;
        display: flex;
    justify-content: center;
}
.button-service{
    font-size: 11px;
}
}
.swal2-confirm{
    background-color: #FE213B !important;
}