.about-title{
    h1{
        font-size: 30px;
        font-family: "proxima";
        color: rgb(46, 46, 46);
        font-weight: bold;
        line-height: 0.933;
        margin-bottom: 30px;
}
}
.about-page{
    margin: 60px 0;
    .about-content {

            border: 5px solid rgb(239, 244, 248);
            background-color: rgb(255, 255, 255);
            padding-left: 30px;
          .about-image{
              margin-top: -2rem;
          }
        .about-text{
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            p{
                    font-size: 15px;
                    font-family: "proximaRegular";
                    color: rgb(33, 33, 33);
                    margin: 0;
                    line-height: 1.667;
                    text-align: left;
                   
                 
            }
            &::before{
                content: '';
                border: solid rgb(239, 244, 248);
                border-width: 0 5px 5px 0;
                display: inline-block;
                padding: 10px;
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                position: absolute;
                top: -16px;
                left: 1rem;
                background-color: #ffffff;
             }
        }
    }
    }
    .about-video{
        .video-inner{
        margin-bottom: 70px;
        .video-content{
            margin-bottom: 70px;
           
            p{
                    font-size: 16px;
                    font-family: "proxima";
                    color: rgb(46, 46, 46);
                    line-height: 1.75;
                    margin-bottom: 30px;
            }
            button{
                    font-size: 16px;
                    font-family: "proxima";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 3.125;
                    text-align: center;
                    border: none;
                    width: 295px;
                    height: 50px;
            }
        }
    }
    .partners-info{
        padding: 70px 40px;
        margin-bottom: 80px;
        position: relative;
        border-width: 10px;
        border-color: rgb(254, 33, 59);
        border-style: solid;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
          
        &::before{
            content: '';
            position: absolute;
            top: -1.5rem;
            width: 80px;
            height: 40px;
            background-image: url(../images/quotes.png);
            background-position-x: center;
            background-repeat: no-repeat;
            background-color: #ffffff;
         
        }

        .partners-info-title{
            display: flex;
            align-items: baseline;
            h1{
                margin-right: 25px;
                font-size: 30px;
                font-family: "proxima";
                color: rgb(46, 46, 46);
                font-weight: bold;
                line-height: 0.933;  
            }
           
        }
        p{
            font-size: 16px;
            font-family: "proxima";
            color: rgb(46, 46, 46);
            line-height: 1.75;
        }
    }
    
}
.about-us{
    background-image: url(../images/bg-about.png);
    background-size: cover;
    padding: 45px 0 55px 0;
    h1{
        font-size: 32px;
        font-family: "proxima";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.406;
    }
    .advantages-top{
        margin-top: 30px;
    }
    .advantages{
        display: flex;
        margin-bottom: 20px;
        .advantages-image{
            margin-right: 34px;
        }
        .advantages-text{
            h1{
                    font-size: 18px;
                    font-family: "proxima";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 1.389;
            }
            p{
                    font-size: 15px;
                    font-family: "proxima";
                    color: rgb(255, 255, 255);
                    line-height: 1.667;
                  
            }
        }
    }
    .advantages-btn{
        button{
                background-color: rgb(254, 33, 59);
                width: 295px;
                height: 50px;
                border: none;
                font-size: 16px;
                font-family: "proxima";
                color: rgb(255, 255, 255);
                font-weight: bold;
                line-height: 3.125;
                  
        }
}
}

.about-company{
    padding: 90px 0 50px 0;
    .about-company-text{
        position: relative;
       img{
        position: absolute;
        bottom: -39px;
        z-index: 999;
        right: -32px;
        width: 30%;
       }
        h1{
                font-size: 32px;
                font-family: "proxima";
                color: rgb(38, 50, 56);
                font-weight: bold;
                line-height: 1.406;
                text-align: left;
        }
        p{
                font-size: 20px;
                font-family: "proxima";
                color: rgb(33, 33, 33);
                line-height: 1.5;
                text-align: left;
                padding-right: 35px;
        }
    }
    .about-company-slider{
        background-color: #eff4f8;
        padding: 30px 30px 66px 30px;
        border-bottom-right-radius: 30px;
        position: relative;
        &::after{
            content: '';
            background-image:url(../images/img_manandgirl.png);
            position: absolute;
            top: -270px;
            width: 340px;
            height: 270px;
        }
        &::before{
            content:'';
            border-top: 20px solid #cad6df; 
            border-right: 20px solid transparent;
            position: absolute;
            bottom: 0;
            right: 0;
            border-top-right-radius: 2px;
            border-bottom-left-radius: 4px;        
        }
        .stl-slide-btn{
            width: 100%;
            display: flex;
            justify-content: center;
            button{
                background-color: rgb(254, 33, 59);
                width: 295px;
                height: 50px;
                border: none;
                font-size: 16px;
                font-family: "proxima";
                color: rgb(255, 255, 255);
                font-weight: bold;
                line-height: 3.125; 
                margin-top: 10px;                   
        }
        }
        .company-slider{
            position: relative;
        .slick-prev{
                background: #ffffff;
                top: 10%;
                left: 78%;
                width: 37px;
                height: 37px;
                z-index: 99999;
                &::before{
                content: '';
                position: absolute;
                top: 9px;
                left: 12px;
                width: 18px;
                height: 18px;
                    border-style: solid;
                    border-color: rgb(254, 33, 59);
                    border-width: 0px 3px 3px 0px;
                    transform: rotate(136deg);
                }
                &:hover{
                  
                    background-color: rgb(254, 33, 59);
                    &::before{
                    border-color: #ffffff !important;
                    }
                }
                }
                .slick-next{
                    position: absolute;
                    background: #ffffff;
                    top: 10%;
                    left: 90%;
                    width: 37px;
                    height: 37px;
                    z-index: 99999;
                    &::before{
                    content: '';
                    position: absolute;
                    top: 9px;
                    right: 12px;
                    width: 18px;
                    height: 18px;
                    border-style: solid;
                    border-color: rgb(254, 33, 59);
                    border-width: 0px 3px 3px 0px;
                    transform: rotate(-45deg);
                        }
                        &:hover{
                  
                            background-color: rgb(254, 33, 59);
                            &::before{
                            border-color: #ffffff !important;
                            }
                        }
                    }
        .stl-slide{
            .stl-slide-content{
                display: flex;
                align-items: center;
                .stl-slide-text{
                    margin-left: 18px;
                h1{
                        font-size: 18px;
                        font-family: "proxima";
                        color: rgb(33, 33, 33);
                        font-weight: bold;
                        line-height: 1.667;
                        margin: 0;
                }
                p{
                        font-size: 15px;
                        font-family: "proxima";
                        color: rgb(33, 33, 33);
                        line-height: 2;
                        text-align: left; 
                        margin: 0;                   
                }
            }
        }
            p{
                    font-size: 16px;
                    font-family: "proxima";
                    color: rgb(33, 33, 33);
                    line-height: 1.563;
                    text-align: left;
                    margin-top: 12px;
            }
            
            
        }
    }
    }
}

.clientsDiv{
    background-image: url(../images/bg.png);
    padding:78px 0;
    // height: 603px;
    .clients-company{
        margin-top: 50px;
        height: 370px;
        .slick-list{
            height: 100%;
            .clients-img{
                height: 160px;
                background-color: #fff;
                border: .5px solid #eeeeee;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                img{
                    width: 60%;
                    margin: 0 auto;
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                &:hover{
                    &::after{
                        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
                        z-index: 99;
                    }
                }
            }
        }
            
    }
}
.certificates{
    margin: 70px 0;
    background-image: url(../images/bg-certificate.png);
    background-repeat: no-repeat;
    background-position-x: 68%;
    .certificates-slider{
        .slick-prev{
            position: absolute;
            top: -22%;
            left: 90%;
            width: 37px;
            height: 37px;
            z-index: 99;
            border: 2px solid  rgb(239, 244, 248);
            &::before{
            content: '';
            position: absolute;
            top: 10px;
            left: 12px;
            width: 15px;
            height: 15px;
            border-style: solid;
            border-color: rgb(254, 33, 59);
            border-width: 0px 3px 3px 0px;
            transform: rotate(136deg);
            }
            &:hover{
                border: none;
                background-color: rgb(254, 33, 59);
                &::before{
                border-color: #ffffff !important;
                }
            }
        }
        .slick-next{
            position: absolute;
            background: #ffffff;
            top: -22%;
            right:2%;
            width: 37px;
            height: 37px;
            z-index: 99;
            border: 2px solid  rgb(239, 244, 248);
            &::before{
            content: '';
            position: absolute;
            top: 10px;
            right: 12px;
            width: 15px;
            height: 15px;
            border-style: solid;
            border-color: rgb(254, 33, 59);
            border-width: 0px 3px 3px 0px;
            transform: rotate(-45deg);
                }
                &:hover{
                    border: none;
                    background-color: rgb(254, 33, 59);
                    &::before{
                    border-color: #ffffff !important;
                    }
                }
            }

        .certificate{
            display: flex;
            justify-content: center;
            img{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:576px){
.clientsDiv{
    padding: 30px 0 !important;
}
.certificates-slider{
    top: 2rem;
}
    .about-page{
        margin: 30px 0;
        .about-content {
                padding: 0 1rem !important;
              .about-image{
                margin-top: 0;
                display: flex;
                justify-content: flex-end;
              }
            .about-text{
                &::before{
                    padding: 8px;
                    top: -14px;
                    left: 1rem;
                 }
            }
        }
        }
        .about-title{
            margin-bottom: 40px;
            h1{
               text-align: center;
                margin-bottom: 0;
        }
        }
        .about-video{
           
            .video-inner{
                margin-top: 30px;
            margin-bottom: 50px;
            iframe{
                width: 100%;
            }
            .video-content{
                margin-bottom: 30px;
               
                p{
                        font-size: 16px;
                        font-family: "proxima";
                        color: rgb(46, 46, 46);
                        line-height: 1.75;
                        margin-bottom: 30px;
                }
                button{
                        font-size: 16px;
                        font-family: "proxima";
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                        line-height: 3.125;
                        text-align: center;
                        background-color: rgb(254, 33, 59);
                        border: none;
                        width: 295px;
                        height: 50px;
                }
            }
        }
        .partners-info{
            padding: 20px;
            margin-bottom: 80px;
            position: relative;
            border-width: 10px;
            border-color: rgb(254, 33, 59);
            border-style: solid;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
              
            &::before{
                content: '';
                position: absolute;
                top: -1.5rem;
                width: 80px;
                height: 40px;
                background-image: url(../images/quotes.png);
                background-position-x: center;
                background-repeat: no-repeat;
                background-color: #ffffff;
             
            }
    
            .partners-info-title{
                display: block;
                align-items: baseline;
                h1{
                    margin-right: 25px;
                    font-size: 30px;
                    font-family: "proxima";
                    color: rgb(46, 46, 46);
                    font-weight: bold;
                    line-height: 0.933;  
                }
               
            }
            p{
                font-size: 16px;
                font-family: "proxima";
                color: rgb(46, 46, 46);
                line-height: 1.75;
            }
        }
        
    }
    .about-company{
        padding: 20px 0;
        .about-company-text{
            position: relative;
            padding-bottom: 120px;
           img{
            display: none;
           }
            h1{
                    font-size: 32px;
                    font-family: "proxima";
                    color: rgb(38, 50, 56);
                    font-weight: bold;
                    line-height: 1.406;
                    text-align: left;
            }
            p{
                    font-size: 20px;
                    font-family: "proxima";
                    color: rgb(33, 33, 33);
                    line-height: 1.5;
                    text-align: left;
                    padding-right: 35px;
            }
        }
        .about-company-slider{
            background-color: #eff4f8;
            padding: 30px 30px 66px 30px;
            border-bottom-right-radius: 30px;
            position: relative;
            &::after{
                content: '';
                top: -270px;
                right: 0;
                background-size: 54%;
                background-repeat: no-repeat;
                background-position-x: 82%;
                background-position-y: bottom;
            }
            &::before{
                content:'';
                border-top: 20px solid #cad6df; 
                border-right: 20px solid transparent;
                position: absolute;
                bottom: 0;
                right: 0;
                border-top-right-radius: 2px;
                border-bottom-left-radius: 4px;        
            }
            .stl-slide-btn{
                width: 100%;
                display: flex;
                justify-content: center;
                button{
                    background-color: rgb(254, 33, 59);
                    width: 295px;
                    height: 50px;
                    border: none;
                    font-size: 16px;
                    font-family: "proxima";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 3.125; 
                    margin-top: 10px;                   
            }
            }
            .company-slider{
                position: relative;
            .slick-prev{
                    background: #ffffff;
                    top: 10%;
                    left: 78%;
                    width: 37px;
                    height: 37px;
                    z-index: 99999;
                    &::before{
                    content: '';
                    position: absolute;
                    top: 9px;
                    left: 12px;
                    width: 18px;
                    height: 18px;
                        border-style: solid;
                        border-color: rgb(254, 33, 59);
                        border-width: 0px 3px 3px 0px;
                        transform: rotate(136deg);
                    }
                    &:hover{
                      
                        background-color: rgb(254, 33, 59);
                        &::before{
                        border-color: #ffffff !important;
                        }
                    }
                    }
                    .slick-next{
                        position: absolute;
                        background: #ffffff;
                        top: 10%;
                        left: 90%;
                        width: 37px;
                        height: 37px;
                        z-index: 99999;
                        &::before{
                        content: '';
                        position: absolute;
                        top: 9px;
                        right: 12px;
                        width: 18px;
                        height: 18px;
                        border-style: solid;
                        border-color: rgb(254, 33, 59);
                        border-width: 0px 3px 3px 0px;
                        transform: rotate(-45deg);
                            }
                            &:hover{
                      
                                background-color: rgb(254, 33, 59);
                                &::before{
                                border-color: #ffffff !important;
                                }
                            }
                        }
            .stl-slide{
                .stl-slide-content{
                    display: block;
                    align-items: center;
                    .stl-slide-text{
                        margin-left: 18px;
                    h1{
                            font-size: 18px;
                            font-family: "proxima";
                            color: rgb(33, 33, 33);
                            font-weight: bold;
                            line-height: 1.667;
                            margin: 0;
                    }
                    p{
                            font-size: 15px;
                            font-family: "proxima";
                            color: rgb(33, 33, 33);
                            line-height: 2;
                            text-align: left; 
                            margin: 0;                   
                    }
                }
            }
                p{
                        font-size: 16px;
                        font-family: "proxima";
                        color: rgb(33, 33, 33);
                        line-height: 1.563;
                        text-align: left;
                        margin-top: 12px;
                }
                
                
            }
            .slick-slide {
                img{
                    min-width: 20%;
                    max-width: 50%;
                    margin: 0 auto 2rem auto;
                }
            }
        }
        }
    }
    .certificates{
        margin: 70px 0;
        background-image: url(../images/bg-certificate.png);
        background-repeat: no-repeat;
        background-position-x: 68%;
        .certificates-slider{
            .slick-prev{
                position: absolute;
                top: -20px;
                left: 77%;
                background-color: #ffffff;
            }
            .slick-next{
                top: -20px;
                right: 1%;
                }
    
            .certificate{
                display: flex;
                justify-content: center;
                img{
                    width: 100%;
                }
            }
        }
    }
    
    .clientsDiv{
        .clients-company{
                .clients-img{
                    img{
                        width: 100%;
                        height: auto;
                        // max-height: 100px;
                    }
                }
        }
    }  
}

@media screen and (min-width:768px) and (max-width:1024px){
    .about-page{
        margin: 25px 0;
        .about-content {
              .about-image{
                  margin-top: -2rem;
                  img{
                      width: 100%;
                  }
              }
        }
        }
        .about-video{
            .video-inner{
            margin-bottom: 20px;
            iframe{
                width: 100%;
            }
            .video-content{
                margin-bottom: 20px;

            }
        }
        .partners-info{
            padding: 70px 40px;
            margin-bottom: 80px;
            position: relative;
            border-width: 10px;
            border-color: rgb(254, 33, 59);
            border-style: solid;
            box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
              
            &::before{
                content: '';
                position: absolute;
                top: -1.5rem;
                width: 80px;
                height: 40px;
                background-image: url(../images/quotes.png);
                background-position-x: center;
                background-repeat: no-repeat;
                background-color: #ffffff;
             
            }
    
            .partners-info-title{
                display: flex;
                align-items: baseline;
                h1{
                    margin-right: 25px;
                    font-size: 30px;
                    font-family: "proxima";
                    color: rgb(46, 46, 46);
                    font-weight: bold;
                    line-height: 0.933;  
                }
               
            }
            p{
                font-size: 16px;
                font-family: "proxima";
                color: rgb(46, 46, 46);
                line-height: 1.75;
            }
        }
        
    } 
    .about-company{
        padding: 20px 0;
        .about-company-text{
            position: relative;
            padding-bottom: 120px;
           img{
            display: none;
           }
            h1{
                    font-size: 32px;
                    font-family: "proxima";
                    color: rgb(38, 50, 56);
                    font-weight: bold;
                    line-height: 1.406;
                    text-align: left;
            }
            p{
                    font-size: 20px;
                    font-family: "proxima";
                    color: rgb(33, 33, 33);
                    line-height: 1.5;
                    text-align: left;
                    padding-right: 35px;
            }
        }
        .about-company-slider{
            background-color: #eff4f8;
            padding: 30px 30px 66px 30px;
            border-bottom-right-radius: 30px;
            position: relative;
            &::after{
                content: '';
                top: -46.5%;
                width: 100%;
                right: 0;
                background-size: 64%;
                background-repeat: no-repeat;
                background-position-x: 83%;
            }
            &::before{
                content:'';
                border-top: 20px solid #cad6df; 
                border-right: 20px solid transparent;
                position: absolute;
                bottom: 0;
                right: 0;
                border-top-right-radius: 2px;
                border-bottom-left-radius: 4px;        
            }
            .stl-slide-btn{
                width: 100%;
                display: flex;
                justify-content: center;
                button{
                    background-color: rgb(254, 33, 59);
                    width: 295px;
                    height: 50px;
                    border: none;
                    font-size: 16px;
                    font-family: "proxima";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 3.125; 
                    margin-top: 10px;  
                    &:hover{
                        color: rgb(254, 33, 59);
                    }                 
            }
            }
            .company-slider{
                position: relative;
            .slick-prev{
                    background: #ffffff;
                    top: 10%;
                    left: 78%;
                    width: 37px;
                    height: 37px;
                    z-index: 99999;
                    &::before{
                    content: '';
                    position: absolute;
                    top: 9px;
                    left: 12px;
                    width: 18px;
                    height: 18px;
                        border-style: solid;
                        border-color: rgb(254, 33, 59);
                        border-width: 0px 3px 3px 0px;
                        transform: rotate(136deg);
                    }
                    &:hover{
                      
                        background-color: rgb(254, 33, 59);
                        &::before{
                        border-color: #ffffff !important;
                        }
                    }
                    }
                    .slick-next{
                        position: absolute;
                        background: #ffffff;
                        top: 10%;
                        left: 90%;
                        width: 37px;
                        height: 37px;
                        z-index: 99999;
                        &::before{
                        content: '';
                        position: absolute;
                        top: 9px;
                        right: 12px;
                        width: 18px;
                        height: 18px;
                        border-style: solid;
                        border-color: rgb(254, 33, 59);
                        border-width: 0px 3px 3px 0px;
                        transform: rotate(-45deg);
                            }
                            &:hover{
                      
                                background-color: rgb(254, 33, 59);
                                &::before{
                                border-color: #ffffff !important;
                                }
                            }
                        }
        }
        }
    }  
    .certificates{
        margin: 50px 0;
        background-image: url(../images/bg-certificate.png);
        background-repeat: no-repeat;
        background-position-x: 68%;
        .certificates-slider{
            .slick-prev{
                top: -22%;
                left: 87.5%;
            }
            .certificate{
                display: flex;
                justify-content: center;
                height: 312px;
                img{
                    width: 100%;
                }
            }
        }
    }
}

.close:focus{
    outline: none;
}
.modal-footer {
    button{
        border-radius: inherit !important;
        background-color: #fe213b !important;
        &:hover{
            background-color: #fff !important;
            color: #fe213b !important;
            border: 1px solid #fe213b !important;
        }
    }
}


.swal2-confirm{
    background-color: #fe213b !important;
}