.crumb-top{
    padding: 10px 0;
    .crumbs{
        background-color: #fff;
        padding: 0!important;
        .link-active{
                text-decoration: underline;
               a{
                color: #fe213b!important;
               } 

        }
        .breadcrumb-item{
            color: #2e2e2e;
         
                line-height: 1.75;
                font-size: 14px;
                font-family: "proxima";
              
        }
    }
    
}
.check-page{
    .check-page-content{
        .breadcrumb{
            padding: 0;
        }
        .crumb-check{
            .crumbs-check{
                background-color: #fff;
                padding-bottom: 35px;
                .breadcrumb-item{
                        font-size: 48px;
                        font-family: "proxima";
                        color: rgb(46, 46, 46);
                        font-weight: bold;
                        line-height: 0.875;
                        padding: 0;
                        &::before{
                            display: none;
                        }
                        
                        a{
                            font-size: 48px;
                            font-family: "proxima";
                            color: rgb(46, 46, 46);
                            font-weight: bold;
                            line-height: 0.875;  
                        } 
                        &::before{
                            color: rgb(46, 46, 46);
                        }
                }
                .check-crumb{
                    margin-left: 25px;
                }
                .check-item {
                    a{
                     position: relative;
                     &::before{
                     content: "/";
                     padding-right: .5rem;
                     display: block;
                     color: #6c757d;
                     width: 5px;
                     height: 10px;
                     position: absolute;
                     right: -15px;   
                     }
                    }
                 } 
            }
        }
    }
}
.check-image{
    background-image: url(../images/bg-check.png);
    background-repeat: no-repeat;
    height: 670px;
    width: 100%;
}
.check-txt{
    padding-bottom: 120px;
    h1{
        padding: 70px 0 30px 0;
            font-size: 32px;
            font-family: "proxima";
            color: rgb(38, 50, 56);
            line-height: 1.406;
            text-align: left;
    }
    h3{
            font-size: 26px;
            font-family: "proxima";
            color: rgb(33, 33, 33);
            font-weight: bold;
            line-height: 1.077;
            text-align: left;
            padding-bottom: 30px;
    }
    p{

            font-size: 15px;
            font-family: "proxima";
            color: rgb(33, 33, 33);
            line-height: 1.667;
            text-align: left;
    }
}
.check-link{
  padding-bottom: 40px;
    .check-link-txt{
        p{
                font-size: 15px;
                color: rgb(33, 33, 33);
                line-height: 1.667;
                text-align: left;
        }
        h1{
                font-size: 26px;
                font-family: "proxima";
                color: rgb(33, 33, 33);
                font-weight: bold;
                line-height: 1.731;
                text-align: left;
        }
    }
}

@media screen and (max-width:576px){
    .crumb-top{
        padding: 1rem 0;
        .crumbs{
            margin: 0;
            .breadcrumb-item{
                    font-size: 13px;
            }
        }
        
    }
    .check-page{
        .check-page-content{
            .crumb-check{
                .crumbs-check{
                    padding-bottom: 0;
                    .breadcrumb-item{
                            font-size: 15px;
                            a{
                                font-size: 15px; 
                            } 
                    }
                }
            }
        }
    }
    .check-image{
        background-size: contain;
        height: 175px;
    }

.check-txt{
    padding-bottom: 2rem;
    h1{
        padding: 1rem 0;
            font-size: 20px;
    }
    h3{
            font-size: 18px;
    }
    p{

            font-size: 14px;
    }
}
.check-link{
    padding-bottom: 2rem;
    .check-link-img{
        img{
            width: 100%!important;
        }

    }
      .check-link-txt{
          p{
                  font-size: 14px;
          }
          h1{
                  font-size: 20px;
          }
      }
  }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .check-page{
        .check-page-content{
            .crumb-check{
                .crumbs-check{
                    padding-bottom: 2rem;
                    .breadcrumb-item.active{
                        margin-left: 25px;
                    }
                    .breadcrumb-item{
                            font-size: 30px;
                           
                            a{
                                font-size: 30px; 
                            } 
                    }
                }
            }
        }
    }
.check-image{
    height: 356px;
    background-size: contain;
}
.check-txt{
    padding-bottom: 2rem;
    h1{
        padding: 1rem 0;
            font-size: 29px;
    }
    h3{
            font-size: 21px;
    }
    p{

            font-size: 18px;
    }
}
.check-link{
    padding-bottom: 2rem;
    .check-link-img{
        img{
            width: 100%!important;
        }

    }
}

}

@media screen and (min-width:1024px) and (max-width:1350px){
    .check-image{
        height: 475px;
    background-size: contain;
    }
}