.contact-page{
    position: relative;
    margin-top: 40px;
    margin-bottom: 70px;
    .contact-image{
        position: absolute;
    right: 8%;
    top: -20%;
    img{
        width: 360px;
    }
    }
    .maps-modal{
        position: absolute;
        top: 10%;
        left: 10%;
        padding-top: 45px;
            width: 400px;
            height: 500px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 7px 67.16px 5.84px rgba(224, 229, 233, 0.39);
              
          
        h1{
                font-size: 36px;
                font-family: 'proximaBlack';
                color: rgb(10, 16, 24);
                line-height: 1.2;
                font-weight: bold;
                text-align: center;
                margin-bottom: 30px;
        }
        .maps-modal-link{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-bottom: 30px;
            .email-p{
                margin-top: 0.5rem;
            }
            p{
                width: 215px;
                margin-left:20px;
                margin-bottom: 0!important;
                    font-size: 15px;
                    color: rgb(46, 46, 46);
                    line-height: 1.667;
                  
            }
            .contact-info{
                display: flex;
                flex-direction: column;
                span{
                    margin-left: 20px;
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    color: rgb(46, 46, 46);
                    line-height: 1.667;
                    font-family: 'proximaBlack';
                    img{
                        margin-left: 5px;
                    }
                }
            }
            button{
                    background-color: rgb(254, 33, 59);
                    width: 319px;
                    height: 63px;
                    border: none;
                    font-size: 18px;
                    font-family: "proxima";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 1.333;         
                  
            }
        }
        
    }
}
.company-branches{
    margin-bottom: 80px;
    position: relative;
    .contact-border{
        border-bottom: 1px solid #cccccc;
    }
    // &::before{
    //     content: '';
    //     width: 85%;
    //     height:1px;
    //     position: absolute;
    //     left: 8%;
    //     top: 37%;
    //     background-color: #cccccc;
    // }
    .branch-inner{
       
        .br-content{
            padding: 0 20px;
        }
        .branch-links{
            display: flex;
            height: 268px;
            margin-top: 30px;
            .branch-image{
                margin-right: 20px;
            }
            .branch-content{
                h2{
                        font-size: 16px;
                        font-family: "proxima";
                        color: rgb(254, 33, 59);
                        font-weight: bold;
                        line-height: 1.875;
                      
                }
                p{
                        font-size: 16px;
                        color: rgb(38, 50, 56);
                        line-height: 1.875;
                        margin-bottom: 0!important;

                }
            }
           
        }
    }
}
.branch-item{
    position: relative;
    &::before{
        content: '';
        width: 1px;
        height: 80%;
        position: absolute;
        right: 0;
        top: 3%;
        background-color: #cccccc;
    }
   
  
}



@media screen and (max-width:576px){
    .maps{
        height: 250px !important;
    }
    .close{
        width: fit-content !important;
    }
    .contact-page{
       
        .contact-image{
            position: absolute;
            top: -4%;
            display: flex;
            justify-content: flex-end;
        img{
            width: 40%;
            height: 100%;
        }
        }
        .maps-modal{
            position: relative;
            top: 0;
            left: 0;
            padding-top: 45px;
                width: 100%;
              
            h1{
                    font-size: 26px;
                    
            }
            .maps-modal-link{
                button{
                        width: 80%;        
                      
                }
            }
            
        }
    }
    .company-branches{
        margin-bottom: 40px;
        &::before{
            display: none;
        }
        h1{
            font-size: 30px;
            text-align: center;
        }
        .branch-inner{
            border: none;
            .branch-bottom{
                padding-top: 40px;
                position: relative;
                &::before{
                    content: '';
                    width: 1px;
                    height: 80%;
                    position: absolute;
                    right: 0;
                    top: 15%;
                    background-color: #cccccc;
                }
            }
            .br-content{
                padding: 0!important;
            }
            .branch-links{
                display: flex;
                height: 268px;
                margin: 30px 3rem;
                .branch-image{
                    margin-right: 20px;
                }
                .branch-content{
                    h2{
                            font-size: 16px;
                            font-family: "proxima";
                            color: rgb(254, 33, 59);
                            font-weight: bold;
                            line-height: 1.875;
                          
                    }
                    p{
                            font-size: 16px;
                            color: rgb(38, 50, 56);
                            line-height: 1.875;
                            margin-bottom: 0!important;
    
                    }
                }
               
            }
        }
    }
    .branch-item{
        position: relative;
        &::before{
            display: none;
        }
    }    
      
}


@media screen and (min-width:768px) and (max-width:1024px){
    .contact-page{
       
        .contact-image{
            display: flex;
            justify-content: flex-end;
            top: -6%;
        img{
            width: 40%;
        }
        }
        .maps-modal{
            position: relative;
            top: 0;
            left: 0;
            padding-top: 45px;
            margin: 2rem auto;
              
            h1{
                    font-size: 26px;
                    
            }
            .maps-modal-link{
                button{
                        width: 67%;        
                      
                }
            }
            
        }
    }
    .company-branches{
        margin-bottom: 40px;
        &::before{
            left: 8%;
            top: 52%;
            background-color: #cccccc;
        }
        h1{
            font-size: 30px;
            text-align: center;
        }
        .branch-inner{
            border: none;
            .branch-bottom{
                padding-top: 40px;
                position: relative;
                &::before{
                    content: '';
                    width: 1px;
                    height: 80%;
                    position: absolute;
                    right: 0;
                    top: 15%;
                    background-color: #cccccc;
                }
            }
            .br-content{
                padding: 0;
            }
            .branch-links{
                display: flex;
                height: 268px;
                .branch-image{
                    margin-right: 20px;
                }
                .branch-content{
                    h2{
                            font-size: 16px;
                            font-family: "proxima";
                            color: rgb(254, 33, 59);
                            font-weight: bold;
                            line-height: 1.875;
                          
                    }
                    p{
                            font-size: 16px;
                            color: rgb(38, 50, 56);
                            line-height: 1.875;
                            margin-bottom: 0!important;
    
                    }
                }
               
            }
        }
    }
    .branch-item{
        position: relative;
        &::before{
            display: none;
        }
    }  
}


@media screen and (min-width:1024px) and (max-width:1350px){
    .contact-page{
        .maps-modal{
            position: absolute;
            top: 6%;
            left: 10%;

            
        }
    }
    .company-branches{
        &::before{
            top: 52%;
            left: 6%;
        }
        .branch-inner{
           
            .br-content{
                padding: 0 ;
            }
            .branch-links{
                display: flex;
                height: 268px;
                margin-top: 30px;
                .branch-content{
                    h2{
                            font-size: 16px;
                            font-family: "proxima";
                            color: rgb(254, 33, 59);
                            font-weight: bold;
                            line-height: 1.875;
                          
                    }
                    p{
                            font-size: 16px;
                            color: rgb(38, 50, 56);
                            line-height: 1.875;
                            margin-bottom: 0!important;
    
                    }
                }
               
            }
        }
    }
    .branch-item{
        position: relative;
        &::before{
            content: '';
            width: 1px;
            height: 80%;
            position: absolute;
            right: 0;
            top: 3%;
            background-color: #cccccc;
        }
       
      
    }
}