.gallery-content{
    margin: 40px 0 78px 0;
    .gallery-slider{
        margin:3px 2.5px;
        .slide-product{
            position: relative;
            h1{
                position: absolute;
                top: 2rem;
                left: 1rem;
                font-size: 24px;
                font-family: "proxima";
                color: rgb(255, 255, 255);
                font-weight: bold;
                line-height: 1.25;
                opacity: 0;
                transition: all .8s ease;
            }
            p{
              position: absolute;
              top: 6rem;
              left: 1rem;  
              font-size: 15px;
              font-family: "proxima";
              color: rgb(255, 255, 255);
              line-height: 1.6;
              opacity: 0;
              transition: all .8s ease;
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: -moz-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                background: -webkit-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                background: -ms-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgb(33,33,33) 100%);
                opacity: 0;
            }
            &:hover{
                h1{
                    opacity: 1;
                }
                p{
                    opacity: 1;
                }
                &::before{
                opacity: 1;
                background-image: -moz-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                background-image: -webkit-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                background-image: -ms-linear-gradient( 90deg, rgba(31,58,91,0) 0%, rgba(254,33,59,0) 11%, rgba(254,33,59,0) 12%, rgb(254,33,59) 73%);
                }
            }  
        }
               
    }
    .gallery-image{
        img{
            width: 120%;
            margin-top: 2.5rem;        
        }
    }
}

@media screen and (max-width:576px){
    .gallery-content{
        margin: 20px 0 48px 0;
        .gallery-slider{
            margin:5px 10px;
        }
        .gallery-image{
            img{
                width: 100%;
                margin-top: 2.5rem;        
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .gallery-content{
        margin: 20px 0 48px 0;
        .gallery-slider{
            margin:5px 10px;
        }
        .gallery-image{
            img{
                width: 100%;
                margin-top: 2.5rem;        
            }
        }
    }
}


@media screen and (min-width:1024px) and (max-width:1350px){
    .gallery-content{
        margin: 20px 0 48px 0;
        .gallery-image{
            img{
                width: 100%;
                margin-top: 4.5rem;        
            }
        }
    }
}